<TABLE cellPadding="2" cellspacing="8" border="0">
<TR>
  <TD><A href='addClientWithId.php'>AddClientWithId</A></TD>
  <TD>&nbsp;</TD>
  <TD><A href='displayAllTxtGross1.php'>Client Gross 1</A></TD>
  <TD><A href='displayAllTxtGross2.php'>Client Gross 2</A></TD>
  <TD><A href='txtFile12415.php'>Submit Mcx from vendor</A></TD>
  <TD><A href='selectClientPrintTxtNirajbhai.php'>PrintNirajbhai</A></TD>
</TR>
</TABLE>
<A href="autoEntry.php">Auto Entry</A><BR><BR>
<A href="displayAllTxtExpiryWhole.php">AllWithExpiry</A><BR><BR>
<A href="selectClientPrintTxt2Col4_6.php">PerClientWithBrok4_6</A><BR><BR>
<BR>
<A href="http://localhost/OmComex/clientStandPrice.php">Liquidation Value</A><BR><BR>
<A href="http://localhost/OmComex/clientStandProfitLoss.php">At some price, how much profit/loss?</A><BR><BR>
<A href='vendorClientDiff.php'>Vendor & Client</A><BR><BR>
<A href='selectClientPrintTxt.php'>Print Trades</A><BR><BR>
<A href="displayAllPrintTxt.php">Print All</A><BR><BR>
<A href='displayAllTxtForAccount.php'>Profit Loss To Account</A><BR><BR>
<A href="selectClientPrintTxt2Col.php">PrintWithBrok</A><BR><BR>
<A href="selectClientPrintTxt2ColPer.php">WithTurnover</A><BR><BR>
<!--&nbsp;&nbsp;&nbsp;&nbsp;<A href="selectClientPrintTxtParallel.php">PerClientParallel</A>-->
