<HTML>
<HEAD><TITLE>Om !!!</TITLE>
  <STYLE src="./templates/styles.css"></STYLE>
</HEAD>
<BODY bgColor="#FFFF80">
	<A href="./index.php">Home</A>
<TABLE cellPadding="8" cellspacing="0" border="1">
<!--<TR>
  <TD>Margin Transactions : </TD>
  <TD><A href='accTransMarginAdd.php'>Add</A></TD>
  <TD><A href='accTransMarginList.php'>List</A></TD>
</TR>
-->
<TR>
  <TD>Money Transactions : </TD>
  <TD><A href='accTransOtherAdd.php'>Add</A></TD>
  <TD><A href='accTransList.php'>List</A></TD>
  <TD><A href='accSummary.php'>Summary</A></TD>
  <TD>Other Expence <A href='otherExpAdd.php'>Entry</A> || <A href='otherExpList.php'>List</A></TD>
</TR>
<TR>
  <TD><A href="clientTrades.php?display=PLToAccount">Profit Loss To Account</A></TD>
  <TD><A href="clientToClient.php">Client To Client</A></TD>
  <TD colspan="3"><A href="cashFlow.php">Bank Transactions</A></TD>
</TR>
</TABLE>
</BODY>
</HTML>