<HTML>
<HEAD><TITLE>Om !!!</TITLE>
  <STYLE src="./templates/styles.css"></STYLE>
</HEAD>
<A href="newExpenseAdd.php">Add</A>
<A href="mnuAccount.php">Menu</A>
<BODY bgColor="#B0D8FF" onLoad="document.form1.txtExpenseName.focus();">
	<FORM name="form1" action="newExpenseAdd.php" method="POST">
	<TABLE border=1 cellSpacing="0" cellPadding = "2">
    <TR>
      <TD><B><U>Expense Name</U></B></TD>
    </TR>
    {section name="sec1" loop=$expName}
    <TR>
    	<TD>{$expName[sec1]}</TD>
    </TR>
    {/section}
  </TABLE>
</FORM>
</BODY>
</HTML>